@import url("reset.css");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300");

/******* ELEMENTI GENERICI ********/
*{ box-sizing:border-box; ms-box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
html, body {height: 100%; width:100%;margin:0;}
html{font-family: 'Open Sans', sans-serif;font-size:100%;color:#363A3F;}
button{cursor: pointer;}
input:focus, textarea:focus, select:focus {outline: none;border:1px solid #4078c0;box-shadow: 0 0 10px #719ECE;}
select:not([class*="ui-datepicker"]){-webkit-appearance: none;-moz-appearance: none; appearance: none; background: url(../img/icone/asc.gif) no-repeat right center #fff !important;}
label, input{display:inline-block;}
select, input, textarea, button{border:1px solid #999; font-size:.8rem; padding:6px; border-radius: 3px;}
label{width:80px;}
input[type=number]{width:50px;}

/******* ELEMENTI SPECIFICI ********/
header#main{padding:10px;background: #f5f5f5;border-bottom: 1px solid #e5e5e5;}
#canvasContent{position: relative; width: 670px; height: 590px; margin: 0px auto; padding: 0px; z-index: 1;}
#svgContent{position:absolute;top:0;left:0;z-index:2;}
canvas{position: absolute;top: 0; left: 0; margin: 5px 0px 0px 15px; padding: 0px; z-index: 3;}
form[name='valori']{ display: inline-block; width: 30%;vertical-align:middle;}
#risultatoContent{position:relative;display: inline-block; text-align:center;width:69%;}
#risultato{padding:10px 20px;text-align:center;font-size:2rem;text-transform:uppercase;border:1px solid #363A3F;border-radius:5px;}

/******* CLASSI ********/
.wrap{position:relative;margin:0px auto;}
.row{margin:10px 0px;}
.row h1{font-size: 1.5rem; display: inline-block; border-bottom: 1px solid #363A3F; margin-bottom: 20px;}
.gettexture{fill: rgba(255, 0, 0, 0.5) !important;}

/* Smartphones ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 767px) {
    header#main{font-size:1.4rem;}
    .row h1{font-size: 1.3rem;}
    .row p{font-size: .9rem;}
    .wrap{width:90%;}

}

/* Tablets ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .wrap{position:relative;width:70%;margin:0px auto;}

}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
    header#main{font-size:2rem;}
    .row h1{font-size: 1.5rem; width: 60%;}
    .wrap{width:70%;}

}
